@charset "EUC-KR";

/* 헤더 */
header { height: 50px; background: black; }

/* 공통 */
a { text-decoration: none; }
a:hover { text-decoration: none; }
table { width: 100%; }
table th { padding:5px; }
table th, table td { text-align: center; }

.wp100 { width:100%; }
.wp90 { width:90%; }
.wp80 { width:80%; }
.wp70 { width:70%; }
.wp60 { width:60%; }
.wp50 { width:50%; }
.wp40 { width:40%; }
.wp30 { width:30%; }
.wp20 { width:20%; }
.wp10 { width:10%; }

.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }
.mt70 { margin-top:70px; }
.mt80 { margin-top:80px; }
.mt90 { margin-top:90px; }
.mt100 { margin-top:100px; }

.mb10 { margin-bottom:10px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom:50px; }
.mb60 { margin-bottom:60px; }
.mb70 { margin-bottom:70px; }
.mb80 { margin-bottom:80px; }
.mb90 { margin-bottom:90px; }
.mb100 { margin-bottom:100px; }

.bold { font-weight: bold; }
.subMenu {
	text-decoration: none;
	text-align:right; 
	position: relative; 
	top:-45px;
	left:-4%;
}
.subMenu a {
	color:#ffffff;
}

/* 맵 */
.store { padding:3px 5px; border-radius: 30px; font-size:10px; background: white; }
.store a { color: black; }
.store.label0 { border: 3px solid lightgray; }
.store.label1 { border: 3px solid #1E90FF; }
.store.label2 { border: 3px solid #EB0000; }
label.label0 { color: lightgray; }
label.label1 { color: #1E90FF; }
label.label2 { color: #EB0000; }
.store.myLocation { background: #0062cc }
.store.myLocation a { color: #ffffff; }

.searchArea { background: #ffffff; padding: 10px; position: absolute; top: 50px; left: 50px; z-index: 10; width: 250px; border: 1px solid rgba(0,0,0,.15); border-radius: .25rem; }
.searchArea .list-group { position: absolute; width: 230px; display:none; }
.searchArea .list-group .list-group-item { padding:5px; cursor: pointer; }


.dropdown-box { position: absolute; top: 70px; left: 20px; z-index: 10; }
.dropdown-buttons { display: inline-block; vertical-align: top; }
[dropdown-area] { display: none; position: absoulte; background: #ffffff; padding:10px; border: 1px solid rgba(0,0,0,.15); border-radius: .25rem; }
[dropdown-area] .items { padding: 5px 0px; }
[dropdown-area] .items input[type="checkbox"] { margin-right: 5px; position: relative; top: 2px; }
[dropdown-area] .items label { font-size: 13px; margin-bottom: 0px; }